body{ 
  background-color:#f0f8ff;

}

header img{
  text-align: center;
  margin-top: -15%;
  height: auto;
  width: 50%;
  margin-left: 1 %;

 
}

ul {
  list-style-type: none;

}

.row {
  display: flex;
}

 p {
  font-family: 'Coming Soon', cursive;
  font-size: 1.5em;
  flex: 1;
  border:1% solid none;
  text-align: justify;
  margin: 1%;
  padding: 1%;
  margin-right: 10%;
  margin-left: 20%;
  margin-top: 1%;

  
}

.row div img {
  width: 70%;
  text-align: center;
  margin-top: 9%;
  margin-left: 10%;

}

h1{
  text-align: center;
  margin-top: 5%;
}

h2{
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  text-align: center;
  margin-top: 8%;
  margin-left: 10%;
  line-height: 210%;
  word-spacing: 20%;

}

.column-1, .column-2, .column-3, .column-4, .column-5, .column-6 {
  flex: 1;
  border:1% solid none;
  text-align: center;
  margin: 1%;
  padding: 1%;
}


h3{
  text-align: center;
  margin-left: 10%;
  font-family: 'Coming Soon', cursive;
}


a{
  text-decoration: none;
  color:red;
}

.topnav {
   font-family: 'Amatic SC', cursive;
    background-color: #939696;
    overflow: hidden;
    margin-left:1%;
    text-align: center;
    margin-right: 1%;
    margin-top: -5%;


}

.topnav a {
   font-family: 'Amatic SC', cursive;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 2% 1%;
    text-decoration: none;
    font-size: 2.5em;
    margin-right: 16%;


}

.topnav a:hover {
    background-color: #ddd;
    color: black;

}

.topnav a.active {
    background-color: #6495ed;
    color: white;
}

* { 
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #f2f2f2;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #6495ed;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #f2f2f2;
}

/* Style the container/contact section */
.container {
  font-family: 'Coming Soon', cursive;
    border-radius: 5px;
    background-color: #f0f8ff;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    background-color: #f0f8ff;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

iframe{
  margin-top: -90%;
  margin-left: 5%;
  margin-bottom: 5%;
}
